extends layout

block content
  div
    h1(id="title-h1" data-status=process.status)= process.status

    p= process.log

    a(href= link_url)= link_title

    hr

  div
    p='Copy & Past sitemap HTML code for each page'
    each item, i in sitemap
      h2='Page ' + (i + 1)
      textarea(readonly="true" placeholder="Rendered sitemap..." style="width:100%; resize:vertical; min-height: 400px;")= item

  script(src="/javascripts/processing.js")
